.infos-perso-container
    .infos-perso-row

        .infos-perso-avatar
            a(href="/perso/infoPersonnage")
                .character-avatar.small
                    img.background
                    img.effect
                    img.avatar

        .infos-perso-infos
            h3
                span.clan
                span.name
            p
                | Niveau
                span.level

            .progressbar.life
                .background
                .value
                .text
                    span.current
                    | &nbsp;/&nbsp;
                    span.max

            .progressbar.experience
                .background
                .value
                .text
                    span.current
                    | &nbsp;/&nbsp;
                    span.max

            a.link-action(href="/perso/infoPersonnage")
                | Plus d'informations

table.infos-perso-numbers
    tbody
        tr
            td
                img(src="/img/zenis.png")
            td
                span Monnaie
            td#zenisActuelJoueur
        tr
            td
                img(src="/img/OrbeRouge.png")
            td
                span Energie d'attaque
            td#energy-atk
        tr
            td
                img(src="/img/OrbeBleu.png")
            td
                span Energie de défense
            td#energy-def
        tr
            td
                img(src="/img/OrbeVerte.png")
            td
                span Energie de magie
            td#energy-mag
        tr
            td
                img(src="/img/OrbeArgent.png")
            td
                span Energie de précision
            td#energy-acc
        tr
            td
                img(src="/img/OrbeEx.png")
            td
                span Energie extrême
            td#energy-ext