.infos-perso-container
    .infos-perso-row

        .infos-perso-avatar
            a(href="/perso/infoPersonnage")
                .character-avatar.small
                    img.background
                    img.fix-src.effect(src="dist/img/theme/avatar-effect.jpg")
                    img.avatar

        .infos-perso-infos
            h3
                span.clan
                span.name
            p
                | Niveau&nbsp;
                span.level

            .progressbar.life
                .background
                .value
                .text
                    span.current
                    | &nbsp;/&nbsp;
                    span.max

            .progressbar.experience
                .background
                .value
                .text
                    span.current
                    | &nbsp;/&nbsp;
                    span.max

            a.link-action(href="/perso/infoPersonnage")
                | Plus d'informations

    table.infos-perso-numbers
        tbody
            tr
                td
                    img.fix-src(src="dist/img/theme/Zenis.svg")
                td.text-left
                    span Monnaie
                td.text-right
                    span.zenis#zenisActuelJoueur
            tr
                td
                    img.fix-src(src="dist/img/theme/OrbeAttaque.svg")
                td.text-left
                    span Orbe d'attaque
                td.text-right
                    span.energy-atk
            tr
                td
                    img.fix-src(src="dist/img/theme/OrbeResistance.svg")
                td.text-left
                    span Orbe de défense
                td.text-right
                    span.energy-def
            tr
                td
                    img.fix-src(src="dist/img/theme/OrbeMagie.svg")
                td.text-left
                    span Orbe de magie
                td.text-right
                    span.energy-mag
            tr
                td
                    img.fix-src(src="dist/img/theme/OrbePrecision.svg")
                td.text-left
                    span Orbe de précision
                td.text-right
                    span.energy-acc
            tr
                td
                    img.fix-src(src="dist/img/theme/OrbeExtreme.svg")
                td.text-left
                    span Orbe extrême
                td.text-right
                    span.energy-ext