// COLORS

$black: #1E1E1E;
$black-light: #272727;
$white: #D9D9D9;
$orange: #EB8611;
$green: #196a2c;

$black-border: #3F3F3F;
$green-border: #c3e6cb;

$text-light: #828282;


// AVATAR

$avatarWidthSm: 120px;
$avatarHeightSm: 160px;

$avatarWidthLg: 300px;
$avatarHeightLg: 400px;


// SPECIALS

$border-radius: 2px;
$transition-stack: all .25s ease;

$topbar-height: 80px;